
.form{
    display:flex;
    justify-content: center;
    margin:1.1rem 0;
    background-color: #FBEAEB;
    padding:1.2rem 0;
  }
  .formInfo{

    border: 2px solid #ccc; /* Border style */
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Padding around the form */
    background-color: #f9f9f9; /* Background color */
    color: #333; /* Text color */
    width: 300px; /* Adjust width as needed */
  }
  .formInfo >div{
    margin-bottom: 1.1rem;
  }
  .form-group label {
    width: 120px; /* Adjust width of labels as needed */
    margin-right: 10px;
}

.formInfo > input[type="submit"] {
    display:block;
    margin:auto;
    
}