nav {
    color: white;
    background-color:#452e8f;
    /*rgb(179, 0, 255); */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: 200;
    display: flex;
    align-items: center;
    /*rgb(93, 48, 255)*/
}
nav li{
    list-style-type: none;
}
img {
    width: 300px;
    height: 150px;
}
.menu a{
    text-decoration: none;
    margin-left: 2rem;
    color: white;
    justify-content: space-between;
}
.menu{
    display: flex;
    justify-content:space-around;
    width: 60%;
}
.logoHolder {
    width: 40%;
}
#logo {
    border-radius: 5px;
    padding-left: 4px;
    padding-top: 4px;
}
#bannerImage{
    background-image: url(ban.jpg);
    height: 500px;
    background-size: cover;
    width: 100%;
    padding-top: 0px;

}
footer {
    text-align: center;
    align-items: center;
    font-family: Andale Mono, monospace;
    display: flex;
    justify-content: center;
    height: 30px;
    color: white;
    background-color: #452e8f;
}
footer a {
    color: rgba(156, 24, 127, 1);
}
.menu a:hover {
    color:  rgba(156, 24, 127, 1);
}
#two {
    background-color: rgb(3, 3, 81);
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    height: 80%;
}
.Tinfo{
    width: 50%;
    padding: 10px 50px;
    margin: auto;
    display: flex;
    color: #ffffff;
}
.Tinfo > table {
    border-collapse: collapse;
    margin: auto;
    border-color: #452e8f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
tr.tableheader th {
    text-align: left;
    padding: 1rem 0 1rem 1rem;

}
caption {
    padding: 0 0 1rem 1rem;
    border-bottom: 1px solid 
}
#Uinfo > p{
    font-size: 1.1rem;
    color : #ffff;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(69, 46, 143);
    text-align: center;
    margin-left: 8px;
    letter-spacing: 1px;
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

    
}
.infoA {
    display: flex;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    padding: 10px;
    border-width: 10px;
}
.trip-title {
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    background-color: rgba(156, 24, 127, 1);
}
table, td {
    border: 0px solid black;
}
th, td {
    padding: 8px;
    text-align: left;
}
.skip {
    background-color: rgb(69, 46, 143);
    
}
th {
    background-color: rgb(69, 46, 143);
}

.form{
    display:flex;
    justify-content: center;
    margin: 1.1rem 0;
    background-color:rgba(156, 24, 127, 1);
    padding:1.2rem 0;
    
  }
  .pform {
    text-align: center;
    padding-bottom: 0px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;

  }
  .formInfo{

    border: 2px solid rgb(62, 0, 249); /* Border style */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding around the form */
    background-color: rgb(69, 46, 143); /* Background color */
    color: #ffffff; /* Text color */
    width: 30%; /* Adjust width as needed */
    margin: auto;
  }
  .formInfo >div{
    margin-bottom: 1.1rem;
  }
  .form-group label {
    width: 120px; /* Adjust width of labels as needed */
    margin-right: 10px;
}
#sub {
    margin-right: auto;
    
}
#sub2 {
    margin-left: auto;
}
#lg {
    display:flex
}
fieldset {
    padding: 0px;
    border-color: #452e8f;
    border-width: 1px;
}
.form-group >fieldset{
    margin: auto;
    border: 0px black;
    border-radius: 10px;
}
input {
    border-radius: 4px;
}
#Dtable {
    padding: 10px;
}
#Atable {
    padding: 10px;
}
.mn {
    background-color: rgba(156, 24, 127, 1);
}
#quiz {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family:'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(finish.jpg);
}
.quiz_c {
    width: 500px;
    margin-top: 10px; 
    border-radius: 10px;
    max-width: 95vw;
    background-color: #452e8f;
    overflow: hidden;
    margin-bottom: 10px;
}
.quiz_h {
    padding: 1rem;
}
h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}
li {
    list-style-type: none;
}
ul li{
    font-size: 1.2rem;
    margin: 1rem 0;
}
ul li label {
    cursor: pointer;
}
#submit {
    display: block;
    width: 100%;
    cursor: auto;
    background-color: rgba(156, 24, 127, 1);
    padding: 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 25px;
    color: #ffffff;
    
}
#but {
    display: flex;
    padding: 20px;
}
#Db {
    margin-right: auto;
}
#Ar {
    margin-left: auto;
}
[id|="choose"] {
    background-color: purple;
    color: #ffff;
    border-radius: 8px;
    font-size: 1.1rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 0.1rem;
}
#chooseQuizContainer {
    text-align: center;
    
    
}

#chooseQuizContainer button {
    margin: 10px;
}
#q-cont {
    display: none;
}
