nav {/* styling the navigation menu of the page*/
    color: white;
    background-color:#452e8f;
    /*rgb(179, 0, 255); */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: 200;
    display: flex;
    align-items: center;
    /*rgb(93, 48, 255)*/
}
nav li{
    list-style-type: none; /*removing the list styles in the navigation menu*/
}
img {
    width: 300px;
    height: 150px;
}
.menu a{ /*using a combinator selector*/
    /*styling the anchor elements in the menu class*/
    text-decoration: none;
    margin-left: 2rem;
    color: white;
    justify-content: space-between;
}
.menu{
    display: flex;
    justify-content:space-around;
    width: 60%;
}
.logoHolder { /*styling the nav holding the logo*/
    width: 40%;
}
#logo {
    border-radius: 5px;
    padding-left: 4px;
    padding-top: 4px;
}
#bannerImage{
    background-image: url(ban.jpg);/*the banner image*/
    height: 600px;
    background-size: cover;
    width: 100%;
    padding-top: 0px;

}
footer {/**styling the footer of the page*/
    text-align: center;
    align-items: center;
    font-family: Andale Mono, monospace;
    display: flex;
    justify-content: center;
    height: 30px;
    color: white;
    background-color: #452e8f;
}
footer a {
    color: rgba(156, 24, 127, 1);
}
.menu a:hover {/*using a pseudo class selector*/
    color:  rgba(156, 24, 127, 1);
    font-size: x-large;
    font-style:oblique;
}
p::selection{ /* using a pseudo element selector*/
    color: rgb(184, 7, 244);
    background-color: white;

}
.Tinfo{ /*styling the section holding the two  table*/
    width: 50%;
    padding: 10px 50px;
    margin: auto;
    display: flex;
    color: #ffffff;
}
.Tinfo > table {/*using a child selector to style the tables*/
    border-collapse: collapse;
    margin: auto;
    border-color: #452e8f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
tr.tableheader th { /**styling the table headers of the files*/
    text-align: left;
    padding: 1rem 0 1rem 1rem;

}
tr :hover{ /*styling the table to be responsive*/
    font-style: italic;
    color: black;
    font-weight: 600;

}
caption {
    padding: 0 0 1rem 1rem;
    border-bottom: 1px solid;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    background-color: rgba(156, 24, 127, 1);
}
#Uinfo > p{ /*using a child selector to style the paragraph holding the relevant info*/
    font-size: 1.1rem;
    color : #ffff;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(69, 46, 143);
    text-align: center;
    margin-left: 8px;
    letter-spacing: 1px;
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

    
}
.infoA {
    display: flex;
}
/*styling the table elements*/
table {
    width: 100%;
    border-collapse: collapse;/*removing the borders*/
    margin: 20px 0;
    padding: 10px;
    border-width: 10px;
}

table, td {
    border: 0px solid black;
}
th, td {
    padding: 8px;
    text-align: left;
}
.skip {
    background-color: rgb(69, 46, 143);
    
}
th {
    background-color: rgb(69, 46, 143);
}

.form{/* referring to the div holding the form*/
    display:flex;
    justify-content: center;
    margin: 1.1rem 0;
    background-color:rgba(156, 24, 127, 1);
    padding:1.2rem 0;
    
  }
  .pform { /* the prompt before filling the form*/
    text-align: center;
    padding-bottom: 0px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;

  }
  .formInfo{/*refering to all the elements in the form*/

    border: 2px solid rgb(62, 0, 249); /* Border style */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding around the form */
    background-color: rgb(69, 46, 143); /* Background color */
    color: #ffffff; /* Text color */
    width: 30%; /* Adjust width as needed */
    margin: auto;
  }
  .formInfo >div{
    margin-bottom: 1.1rem;
  }
  .form-group label {
    width: 120px; /* Adjust width of labels as needed */
    margin-right: 10px;
}
.form-group label:hover{ /**using descendant selector and pseudo class selector
    to style the responsiveness of the form*/
    font-weight: 900;
    color: black;
}
#sub { /*sytling the submit button of the form*/
    margin-right: auto; 
}
#sub2 {/*styling the reset button of the form*/
    margin-left: auto;
}
#lg {/* using the flex feature on the reset and submit buttons*/
    display:flex
}
fieldset {
    padding: 0px;
    border-color: #452e8f;
    border-width: 1px;
}
input { 
    border-radius: 4px;/*implementing this on all the input elements of the form*/
}
#Dtable {/* styling the dubai table*/
    padding: 10px;
}
#Atable {/*syling the Arusha table*/
    padding: 10px;
}
.mn { /*implementing this bgcolor on the main element which is the whole page*/
    background-color: rgba(156, 24, 127, 1);
}
#quiz { /*styling the quiz section*/
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family:'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(finish.jpg); /*havin g a background image on the quiz section*/
}
.quiz_c {/* syling the quiz container holding the quizes*/
    width: 500px;
    margin-top: 10px; 
    border-radius: 10px;
    max-width: 95vw;
    background-color: #452e8f;
    overflow: hidden;
    margin-bottom: 10px;
}
.quiz_h { /*the div holding the quiz header*/
    padding: 1rem;
}
h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}
/* styling the list elements in the quizes*/
li {
    list-style-type: none;
}
ul li{
    font-size: 1.2rem;
    margin: 1rem 0;
}
ul li label {
    cursor: pointer;
}
/*styling the submit button of the quiz*/
#submit {
    display: block;
    width: 100%;
    cursor: auto;
    background-color: rgba(156, 24, 127, 1);
    padding: 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 25px;
    color: #ffffff;
    
}
/*flexing the two dubai quiz buton and the arusha quiz button in the but div*/
#but {
    display: flex;
    padding: 20px;
}
#Db {/*the dubai quiz button*/
    margin-right: auto;
}
#Ar {/*the arusha quiz button*/
    margin-left: auto;
}
/*using an attribute selector to style the both the dubai quiz and arusha quiz buttons*/
[id|="choose"] {
    background-color: purple;
    color: #ffff;
    border-radius: 8px;
    font-size: 1.1rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 0.1rem;
}
#chooseQuizContainer { /* the first container giving the option of the dubai or arusha quiz*/
    text-align: center;
    
    
}

#chooseQuizContainer button {/*the buttons in the chooseQuizContainer div*/
    margin: 10px;
}
#q-cont { /*it holds the loading questions before the javascript code is executed*/
    display: none;/*remains not displayed until the code is executed from js*/
}
